<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <p>input-component works!</p>
      <hr>
      <div class="row">
        <label>Username</label>
        <input class="form-control" [(ngModel)]="username" type="text">
        <button type="button" class="btn btn-primary" [disabled]='!isButtonDisabled()'>Click</button>
        <button type="button" 
        class="btn btn-primary" 
        [disabled]="username === ''"
         (click)="username = ''">Reset Button</button>

      </div>
      <div class="row">
        <p>{{username}}</p>
      </div>
    </div>
  </div>
</div>